---
import type { HTMLAttributes } from 'astro/types';
import Img from '@/components/shared/img.astro';
import { cn } from '@/utils';
import {
  glassesOverlayClass,
  profileImageClass,
  profileImageContainerClass,
} from './profile-image.shared';

interface Props extends HTMLAttributes<'img'> {
  class?: string;
  imageClass?: string;
}

const {
  src,
  alt,
  class: className,
  imageClass,
  ...rest
} = Astro.props;
---

<div class={cn(profileImageContainerClass, className)}>
  <Img
    src={src}
    alt={alt}
    class={cn(profileImageClass, imageClass)}
    width={200}
    height={200}
    loading="lazy"
    {...rest}
  />
  <span class={cn(glassesOverlayClass, 'dark:hidden')}>
    <Img src="/assets/images/sun-glasses.webp" alt={alt} />
  </span>
</div>
