---
import type { Position } from '@/types/experiences';
import Heading from '@/components/shared/heading/heading.astro';
import Text from '@/components/shared/text/text.astro';
import { cn } from '@/utils';

interface Props {
  positions: Array<Position>;
  class?: string;
}

const { positions, class: className } = Astro.props;
---

<ul class={cn('flex flex-col gap-4 py-2', className)}>
  {
    positions.map((position) => (
      <li class="flex gap-2">
        <Text variant="highlight" tag="span">
          {'=>'}
        </Text>
        <div>
          <Heading tag="h4">{position.title}</Heading>
          <Text>{position.description}</Text>
        </div>
      </li>
    ))
  }
</ul>
