---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@maxigarcia/js-utils';
import Img from '@/components/shared/img.astro';

interface Props extends HTMLAttributes<'img'> {
  class?: string;
  imageClass?: string;
}

const { src, alt, class: className, imageClass, ...rest } = Astro.props;
---

<div
  class={cn(
    'rounded-full h-[200px] w-[200px] shrink-0 overflow-hidden border-2 border-solid border-current relative',
    className,
  )}
>
  <Img
    src={src}
    alt={alt}
    class={cn('h-full w-full', imageClass)}
    width={200}
    height={200}
    loading="lazy"
    {...rest}
  />
  <span
    class={cn(
      'absolute w-[100px] h-[40px] top-[33px] left-[45px]',
      'dark:hidden',
    )}
  >
    <Img src="/assets/images/sun-glasses.webp" alt={alt} />
  </span>
</div>
