---
import { AiButton } from '@/components/ai/button';
import Header from '@/components/header.astro';
import Languages from '@/components/profile/languages.astro';
import Projects from '@/components/profile/projects.astro';
import WorksExperience from '@/components/profile/works-experience.astro';
import SwitchTheme from '@/components/switch-theme.astro';
import AppLayout from '@/layouts/app.astro';
---

<AppLayout>
  <main class="flex flex-col gap-10 max-w-[900px] mx-auto">
    <div class="fixed right-4 top-4 flex gap-2">
      <SwitchTheme class="w-[40px]" />
      <AiButton className="w-[40px]" client:only="react" />
    </div>
    <Header />
    <Languages />
    <WorksExperience />
    <Projects />
  </main>
</AppLayout>
