---
import Button from './shared/actions/button.astro';
import MoonIcon from './shared/icons/moon.astro';
import SunIcon from './shared/icons/sun.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Button type="button" id="switch-theme" class={className} data-switch-theme>
  <Fragment slot="icon">
    <MoonIcon class="hidden dark:block" />
    <SunIcon class="block dark:hidden" />
  </Fragment>
</Button>

<script>
  import {
    initializeThemeStore,
    toggleTheme,
  } from '@/stores/theme/theme.store';

  initializeThemeStore();

  document.getElementById('switch-theme').addEventListener('click', () => {
    toggleTheme();
  });
</script>
