<aside
  id="ai-aside"
  class="hidden right-4 top-16 min-w-64 max-w-sm overflow-hidden fixed h-[calc(100%-64px-10px)]"
>
  <div class="h-full flex flex-col gap-4">
    <div
      class="border border-gray-200 bg-gray-50 p-4 dark:border-gray-700 dark:bg-gray-800 flex-1"
    >
      <p class="text-sm text-gray-500">
        This is an AI assistant that can help you with your questions.
      </p>
    </div>
  </div>
</aside>
