---
import Button from '../shared/actions/button.astro';
import SendIcon from '../shared/icons/send.astro';
import Textbox from '../shared/textbox.astro';
---

<div class="flex items-center justify-between w-full">
  <Textbox />
  <Button class="h-full">
    <SendIcon />
  </Button>
</div>
